    * {
        margin: 0px;
        padding: 0px;
    }
    
    #wrapper {
        width: 950px;
        background-color: silver;
        margin: 0px auto;
        padding: 20px;
    }
    
    #header {
        min-height: 150px;
        background-color: green;
        margin-bottom: 20px;
    }
    
    #navigation {
        min-height: 300px;
        width: 200px;
        background-color: blue;
    }
    
    #main_content {
        min-height: 400px;
        width: 700px;
        background-color: red;
    }
    
    .subcontents {
        min-height: 200px;
        width: 210px;
        background-color: yellow;
    }
    
    #advertisement {
        min-height: 120px;
        width: 660px;
        background-color: purple;
    }