body {
  background-color: black;
}

#container {
  background: url('../img/background.jpg');
  width: 1000px;
  height: 550px;
}

#hero {
  background: url('../img/1942.gif');
  background-position: -85px -180px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.enemy1 {
  background: url('../img/1942.gif');
  background-position: -30px -10px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.explosions {
  background: url('../img/1942.gif');
  width: 28px;
  height: 28px;
  background-position: -114px -34px;
  position: absolute;
}
.bullet {
  background: url('../img/1942.gif');
  background-position: -185px -400px;
  width: 18px;
  height: 18px;
  position: absolute;
}

#score {
  position: absolute;
  border: 10px solid red;
  top: 20px;
  left: 800px;
  background-color: white;
  padding: 10px;
  font-size: 30px;
  font-family: Arial;
}

.dead_enemy {
  display: none;
}
